<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="utf-8" />
    <title>Passagens Aéreas</title>
</head>

<body id="page-top">
    
    <div layout:fragment="corpo">
    	<div th:replace="fragments/modal :: assentos"></div>
	    <!-- Masthead-->
	    <header class="masthead" id="inicio">
	        <div class="text-center formatTxt">
	            <h2 class="section-heading text-uppercase">Voos Disponíveis</h2>
	        </div>
	        <div class="container">
	            <div class="card">
	                <table class="table table-hover shopping-cart-wrap">
	                    <tbody>
	                        <tr>
	                            <td>
	                                <h3>IDA</h3>
	                            </td>
	                            <td>
	                                <figure class="media">
	                                    <figcaption class="media-body">
	                                        <h6 class="title text-truncate">Fortaleza-CE </h6>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Data:</b> 18/11/2020 </dd>
	
	                                        </dl>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Hora:</b> 20:00</dd>
	                                        </dl>
	                                    </figcaption>
	                                </figure>
	                            </td>
	                            <td>
	                                <i class="fas fa-arrow-right"></i>
	                            </td>
	
	                            </td>
	                            <td>
	                                <figure class="media">
	                                    <figcaption class="media-body">
	                                        <h6 class="title text-truncate">São Paulo-SP </h6>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Data:</b> 18/11/2020 </dd>
	
	                                        </dl>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Hora:</b> 23:00</dd>
	                                        </dl>
	                                    </figcaption>
	                                </figure>
	                            </td>
	                            <td rowspan="2" class="text-right">
	                                <a href="pagamento.html" class="form-control btn btn-info w-100" role="button" data-toggle="modal" data-target="#modalAssento">Assentos </a>
	                            </td>
	                            <td class="text-right">
	                                <a href="pagamento.html" class="form-control btn btn-success w-100" role="button">Reservar</a>
	                            </td>
	                        </tr>
	                        </tr>
	
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	            <!-- card.// -->
	        </div>
	
	        <div class="container">
	            <div class="card">
	                <table class="table table-hover shopping-cart-wrap">
	                    <tbody>
	                        <tr>
	                            <td>
	                                <h3>IDA</h3>
	                            </td>
	                            <td>
	                                <figure class="media">
	                                    <figcaption class="media-body">
	                                        <h6 class="title text-truncate">Fortaleza-CE </h6>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Data:</b> 18/11/2020 </dd>
	
	                                        </dl>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Hora:</b> 20:00</dd>
	                                        </dl>
	                                    </figcaption>
	                                </figure>
	                            </td>
	                            <td>
	                                <i class="fas fa-arrow-right"></i>
	                            </td>
	
	                            </td>
	                            <td>
	                                <figure class="media">
	                                    <figcaption class="media-body">
	                                        <h6 class="title text-truncate">São Paulo-SP </h6>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Data:</b> 18/11/2020 </dd>
	
	                                        </dl>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Hora:</b> 23:00</dd>
	                                        </dl>
	                                    </figcaption>
	                                </figure>
	                            </td>
	                            <td rowspan="2" class="text-right">
	                                <a href="pagamento.html" class="form-control btn btn-info w-100" role="button" data-toggle="modal" data-target="#modalAssento">Assentos </a>
	                            </td>
	                            <td rowspan="2" class="text-right">
	                                <a href="pagamento.html" class="form-control btn btn-success w-100" role="button">Reservar</a>
	                            </td>
	                        </tr>
	                        </tr>
	                        <tr>
	                            <td>
	                                <h3>VOLTA</h3>
	                            </td>
	                            <td>
	                                <figure class="media">
	                                    <figcaption class="media-body">
	                                        <h6 class="title text-truncate">São Paulo-SP </h6>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Data:</b> 25/11/2020 </dd>
	
	                                        </dl>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Hora:</b> 20:00</dd>
	                                        </dl>
	                                    </figcaption>
	                                </figure>
	                            </td>
	                            <td>
	                                <i class="fas fa-arrow-right"></i>
	                            </td>
	
	                            </td>
	                            <td>
	                                <figure class="media">
	                                    <figcaption class="media-body">
	                                        <h6 class="title text-truncate">Fortaleza-CE </h6>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Data:</b> 25/11/2020 </dd>
	
	                                        </dl>
	                                        <dl class="param param-inline small">
	                                            <dd><b>Hora:</b> 23:00</dd>
	                                        </dl>
	                                    </figcaption>
	                                </figure>
	                            </td>
	                        </tr>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	            <!-- card.// -->
	        </div>
	    </header>
	</div>
</body>

</html>